*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.headerContainer{
  display:flex;
  justify-content: space-between;
  border: 1px solid #000000;
}
.logo{
  width:150px;
}
.list{
  display: flex;
  list-style: none;
  align-items: center;
  
}
.list li{
  margin:0 20px;
}
.resImg{
  width:150px;
  
}
.card{
  
    width: 200px;
    height: 300px;
    background-color: rgb(227, 250, 250);
    border: 1px solid black;
    margin: 10px; /* Add margin to create space between cards */
  
}
.cardContainer{
  display: flex;
  align-items: center;
 
  flex-direction: column;
}

.mainContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}